@use 'colors' as color;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'raleway', sans-serif;
	font-size: 1.6rem;
	color: color.$white;
    background-color: color.$dark;

}
